@font-face {
    font-family: dejavuFont;
    src: url(DejaVuSansMono.woff);
}

body {
  background: #123159; color: #33ffdb;
  margin-left: 3%; margin-right: 3%;
  font-family: dejavuFont, monospace;
}

p { margin-top: 1% }

p.verse { margin-left: 3% }

.example { margin-left: 3% }

h1 {
    margin-top: 25px;
    margin-bottom: 0px;
}

h3 { margin-bottom: 0px; }

iframe {
    border: 0;
    margin-bottom: 2em;
}

div.contents {
   font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    #main {
	margin: 0%;
	padding: 2%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    #main {
	margin: 3%;
	padding: 1%;
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    #main {
	width: 960px;
	margin-left: auto;
	margin-top: 5%;
	margin-right: auto;
	margin-bottom: 5%;
	padding: 2%;
    }
}

/* dokumentets egentliga body */
div#main {
    background: #0d2340; color: #33ffdb;
    border: 3px solid #173f73;
    border-collapse: collapse;
    border-radius: 15px;
}

div#menu {
    padding: 0.2em;
    font-size: 1.5em; margin: 0.75em 0 1.5em;
}

div#maintext {
    padding-bottom: 1.5em;
}

hr {
     height: 1px;
     border: 0px;
     background: #003273;
     border-top: 1px solid #003273;
     border-collapse: collapse;
}

a:link {
   color: #ff80a8;
}

a:visited {
   color: #c43f90;
}

a:active { 
   color: #ffff73;
}

dl {
   font-size: 100%;
}

dt {
   display: list-item;
   font-size: 100%;
   margin-left: 3%;
}

.datum {
    color: #123159;
    background-color: #c43f90;
}

.htag {
    color: #fafad2;
}
